<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Test</title>
  </head>
  <body>
    <h1>Form Test</h1>
    <h2><a href="/">Home Page</a></h2>

    <h2>Multipart Form</h2>
    <form action="/multipart-form" method="POST" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Enter your name" />
      <input type="file" name="photo" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
